*{
    text-align: center;
    background-color: black;
    align-items: center;
}

h1{
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid;
    border-radius: 5px;
}
.Tom1{
    width: 50%;
    margin-left: 25%;
}
.genDiv{
    color: white;
}